@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pfpButton {
    transition: filter 0.1s ease;
    background: none;
}

.pfpButton:hover {
    filter: brightness(0.85);
}

.pfpButton img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.container h4, .infoBlock p {
    font-family: 'Inter', sans-serif;
}

.infoBlock {
    max-width: 200px;
}

.infoBlock h4, .container h4 {
    color: #c6c9cc;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.infoBlock p {
    color: #858a8b;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
