@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.icon {
    height: 1.75rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.activeLink .menuButton {
    background-color: rgba(255, 145, 0, 0.7);
}

.activeLink .menuButton span{
    color: white;
}

.inActiveLink .menuButton:hover  {
    background-color: #232324;
}

.link {
    text-decoration: none;
}

.list h3 {
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
    padding: 8px;
    color: #848987;
}

.menuButton {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 17px;
    background: none;
    gap: 16px;
}

.menuButton span{
    color: #c3c6c9;
    font-family: 'Inter', sans-serif;
    font-size: 16pt;
}
