@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    height: 60px;
    background: #26282B;
    display: flex;
    align-items: center;
}

.headerList {
    max-width: 1280px;
    margin: 0 auto;
    gap: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    color: #C9CCCF;
    font-family: Lobster, sans-serif;
    font-weight: 400;
}

.titleBlock {
    padding-left: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}

.buttonBlock {
    min-width: 320px;
}

.searchWrapper {
    display: flex;
    position: relative;
    align-items: center;
    min-width: 660px;
    height: 100%;
    box-sizing: border-box;
}

.searchContainer {
    z-index: 9999 !important;
    width: 100%;
    position: absolute;
}

.searchInput {
    width: 100%;
    height: 2.5rem;
    padding: 0 15px;
    color: #C9CCCF;
    border-radius: 0.5rem;
    border: 2px solid #8F9598;
    background-color: #26282B;
}

.searchInput:focus {
    outline: none;
}

.buttonBar {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
    box-sizing: border-box;
    justify-content: space-between;
}

.writeButton,
.svgButton,
.authButton {
    transition: filter 0.1s ease;
}

.writeButton,
.svgButton {
    padding: 0.6rem;
}

.writeButton,
.authButton {
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 30px;
    color: #FCFDFF;
    font-family: Lato, sans-serif;
    font-weight: 600;
}

.authButton {
    background-color: #af6203;
    padding: 0.6rem 1rem;
}

.svgButton {
    background: none;
    display: flex;
    align-items: center;
    align-content: center;
}
.writeButton:hover,
.authButton:hover,
.svgButton:hover {
    filter: brightness(0.85);
}

.writeButton {
    gap: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fe8725;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.writeButton span {
    margin-right: 0.2rem;
}

.icon {
    height: 1.4rem;
}

.titleBlock .icon {
    height: 2rem;
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    z-index: 900 !important;
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 1279px) {
    .headerList {
        max-width: 1024px;
    }

    .buttonBar {
        justify-content: flex-end;
    }

    .buttonBlock {
        min-width: 240px;
    }

    .searchWrapper {
        min-width: 440px;
    }

    .writeButton span {
        display: none;
    }

    .writeButtonSpan {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .headerList {
        min-width: 768px;
        max-width: 768px;
        gap: 10px;
        padding-inline-start: 0;
    }

    .buttonBar {
        padding-right: 10px;
        justify-content: flex-end;
    }

    .searchWrapper {
        min-width: 420px;
    }

    .writeButton span {
        display: none;
        width: 0;
    }

    .titleBlock {
        min-width: 65px;
    }

    .titleBlock .icon {
        height: 3rem;
    }

    .title {
        display: none;
    }

    .writeButtonSpan {
        display: none;
    }
}
